<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RetouchMain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91C00C7525D2C72800FF97A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91C00C8B25D2C72A00FF97A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91C00C9625D2C72A00FF97A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
